<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work with Databases</title>
</head>
<body>
    <div>
        <div>
            <h1>{{ login }}</h1>
            <a href="/">Back to main menu</a> <br>
            <a href = '/logout'>Click here to log out</a>

            <form action="http://localhost:5000/Databases" method="POST">
                <fieldset>
                    <legend>Work with Databases</legend>

                    {{ delete_form.hidden_tag() }}

                    <div>
                        <div>
                            {{ delete_form.db_list.label }}
                            {% for current in delete_form.db_list %}
                                <div>
                                    {{ current }} {{ current.label.text }}
                                    {% if current.label.text == db_name %}
                                        {% if data_list[0] == 'This Database is empty' %}
                                            <div> {{ data_list[0] }} </div>
                                        {% else %}
                                            <p>Current Database data</p>
                                            {% for cell in data_list %}
                                                <div> {{ cell[2:5] }} </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                        <div> {{ del_message }} </div>
                        <div> {{ delete_form.show_data }} {{ delete_form.delete }} </div>
                    </div>
                </fieldset>
            </form>

            <form action="http://localhost:5000/Databases" method="POST">
                <fieldset>

                    {{ add_form.hidden_tag() }}
                    <legend>Create a new Database</legend>
                    <div>
                        <div>
                            {{ add_form.db_name.label }}     {{ add_form.db_name }}

                            <br>
                                {% for message in add_form.db_name.errors %}
                                    <div> {{ message }} </div>
                                {% endfor %}
                            <br>
                        </div>

                        <div> {{ add_message }} </div>

                        {{ add_form.add }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>