<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/local_db", method="POST">
        <input type="text" name="user_login_fk" />
        <input type="text" name="database_generation_time" />
        <input type="text" name="new_database_name" />
        <input type="text" name="new_database_path" />
        <input type="text" name="database_name_fk" />
        <input type="text" name="database_path_fk" />
        <input type="submit" value="submit" />
    </form>
</body>
</html>